@import "tailwindcss";

@theme {
  --color-primary: #116E63;
  --color-secondary: #FDA31B;
  --color-accent: #ffffff;
  --color-danger: #F87272;
}

html.dark {
  background: rgb(0, 0, 0);
  color: #fff;
}
