@import "tailwindcss";

@theme {
  --color-primary: #6161c5;
  --color-secondary: #c42126;
  --color-accent: #ffffff;
  --color-danger: #F87272;
}

html.dark {
  background: rgb(0, 0, 0);
  color: #fff;
}
